* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(217, 54%, 11%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 18.25rem;
  border-radius: 0.75rem;
  background: hsl(216, 50%, 16%);
  text-align: left;
  padding: 1.25rem;
  font-family: "Outfit", sans-serif;
  box-shadow: 3px 17px 12px 14px rgba(0, 0, 0, 0.2);
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

 .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.equilibrium {
  width: 100%;
  border-radius: 0.5rem;
}

h3 {
  color: hsl(0, 0%, 100%);
}

.desc {
  font-weight: 400;
  color: rgb(102, 122, 154);
}

.both {
  display: flex;
  justify-content: space-between;
}

.amount {
  font-weight: 600;
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
  gap: 3px;
}

.time {
  color: rgb(102, 122, 154);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 3px;
}

.line {
  width: 100%;
  border-bottom: 1px solid rgb(102, 122, 154);
}

.avatar {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 100%;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 15px;
}
.created-by {
  font-weight: 400;
  color: rgb(102, 122, 154);
}

.author {
  font-weight: 400;
  color: white;
}

/* Deixar os créditos no bottom de maneira centralizada, ao utilizar position: absolute, utilizar valores em % */
.attribution {
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translateX(50%);
}
